In [55]:
#import pandas
import sklearn
import pandas as pd
import numpy as np
from numpy import mean
from numpy import std
# split X and y into training and testing sets
from sklearn.model_selection import train_test_split
# import the class
from sklearn.linear_model import LogisticRegression
# import the metrics class
from sklearn import metrics
from sklearn.metrics import precision_recall_curve, roc_auc_score, classification_report, accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.metrics import classification_report
from sklearn.model_selection import cross_val_score, cross_validate, StratifiedKFold
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedKFold
import matplotlib.pyplot as plt

col_names = ['Date', 'Show', 'Average', 'IMDbRating', '#Season', 'TotalSeason', 'Mean', 'label', 'Quantile']
# load dataset
df = pd.read_csv("Overall.csv", header=None, names=col_names)
df.drop(index=0,inplace=True)

#https://machinelearningmastery.com/repeated-k-fold-cross-validation-with-python/

In [56]:
print(sklearn.__version__)

1.5.2

In [57]:
df['label'] = df['label'].map({'low':0,'high':1})
df.head()

         Date Show            Average  ...  Mean label Quantile
1  2004-11-01    4  47.82608695652174  ...   low     1   normal
2  2004-12-01    6  43.08695652173913  ...   low     0      low
3  2005-01-01    6  45.73913043478261  ...   low     0   normal
4  2005-02-01    7  49.65217391304348  ...  high     1   normal
5  2005-03-01   11  47.82608695652174  ...   low     1   normal

[5 rows x 9 columns]

In [58]:
#split dataset in features and target variable
feature_cols = ['Show', 'IMDbRating', '#Season', 'TotalSeason']
X = df[feature_cols] # Features
y = df.label # Target variable

In [59]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [60]:
# prepare the cross-validation procedure
cv = KFold(n_splits=5, random_state=2, shuffle=True)

In [61]:
# instantiate the model (using the default parameters)
logreg = LogisticRegression()

scores = cross_val_score(logreg, X, y, scoring='accuracy', cv=cv, n_jobs=-1)

print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Accuracy: 0.545 (0.039)

In [62]:
# # Create the confusion matrix
# cm = confusion_matrix(y_test, y_pred)

# ConfusionMatrixDisplay(confusion_matrix=cm).plot();

In [63]:
# target_names = ['lowPopularity', 'highPopularity']
# print(classification_report(y_test, y_pred, target_names=target_names))

In [64]:
# y_pred_proba = logreg.predict_proba(X_test)[::,1]
# fpr, tpr, _ = metrics.roc_curve(y_test,  y_pred_proba)
# auc = metrics.roc_auc_score(y_test, y_pred_proba)
# plt.plot(fpr,tpr,label="data 1, auc="+str(auc))
# plt.legend(loc=4)
# plt.show()